@import "tailwindcss";

@theme inline {
  --color-background: #11141b;
  --color-foreground: #f1f5f9;

  --color-primary: #1e40af;
  --color-primary-foreground: var(--color-foreground);

  --color-secondary: #fafd01;
  --color-secondary-foreground: var(--color-background);

  --color-heading: #fafd01;

  --color-header: #171d30;
  --color-header-lighter: #2c3b62;

  --color-card: #1d263c;
  --color-card-foreground: var(--color-foreground);

  --color-popover: #1d263c;
  --color-popover-foreground: var(--color-foreground);

  --color-accent: #171d30;
  --color-accent-foreground: var(--color-foreground);

  --color-input: #11141b;

  --color-border: #94a3b8;

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-foreground);

  /* this looks wrong, but var(--font-runescape) is actually set by next in our
  root layout, and we need to "re-set" it here to be picked up by tailwind*/
  --font-runescape: var(--font-runescape);

  /* upload button */
  --shadow-secondary-behind-sm: 0 0 10px 3px var(--color-secondary);
  --shadow-secondary-behind-md: 0 0 10px 6px var(--color-secondary);
  --shadow-secondary-behind-lg: 0 0 10px 10px var(--color-secondary);
}

@theme {
  /* just use these breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

:root {
  @apply bg-background text-foreground antialiased;
}

/*
v3 behavior, because shadcn expects it
https://tailwindcss.com/docs/upgrade-guide#default-border-color
*/
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }
}
